{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}

    <div class="accrodion-regular" xmlns="http://www.w3.org/1999/html">
        <div id="accordion3">

            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="true" aria-controls="collapseSeven">
                            <span class="fas fa-angle-down mr-3"></span>Informacion Propietario
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion3">
                    <div class="card-body">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-condensed table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ propietario.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Apellido</th>
                                        <td>{{ propietario.apellido }}</td>
                                    </tr>
                                    <tr>
                                        <th>Cedula</th>
                                        <td>{{ propietario.cedula }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha Nacimiento</th>
                                        <td>{{ propietario.fecha_nacimiento }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a style="margin-top: 20px" href="{% url 'propietario_actualizar' propietario.pk %}"
                               class="btn btn-warning btn-xs">Editar</a>
                        </div>
                    </div>
                </div>
            </div>


             <div class="card mb-2">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                            <span class="fas fa-angle-down mr-3"></span>Informacion Vehiculos
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion3">
                    <div class="card-body">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            {% if vehiculos %}
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-condensed table-bordered">
                                    
                                        {% for vehiculo in vehiculos %}

                                            <tbody>

                                            <tr>
                                                <th>Placa</th>
                                                <td>{{ vehiculo.vehiculo_id }}</td>
                                            </tr>

                                            <tr>
                                                <th>Fecha Compra</th>
                                                <td>
                                                    {{ vehiculo.fecha_compra }}
                                                </td>
                                            </tr>

                                            </tbody>

                                        {% endfor %}




                                        </table>
                            </div>

                                        <a style="margin-top: 20px"
                                           href="{% url 'propietarioVehiculo_crear' propietario.pk %}"
                                           class="btn btn-primary btn-xs">Agregar</a>

                                        {% else %}
                                                    <h3>Este Propietario no tiene un Vehiculos Asignado</h3>
                                                    <a href="{% url 'propietarioVehiculo_crear' propietario.pk %}" class="btn btn-primary btn-xs">Asignar</a>
                                        {% endif %}


                        </div>
                    </div>


                </div>
            </div>

           

        </div>
    </div>

    <div class="text-center">
        <a style="margin-top: 20px" href="{% url 'propietario_listar' %}" class="btn btn-dark">Atras</a>
        <a style="margin-top: 20px" href="{% url 'propietario_eliminar' propietario.pk %}" class="btn btn-danger">Eliminar</a>
    </div>

{% endblock %}