{% extends 'base.html' %}
{% block title %}
    Registrar Chofer
{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        Informacion Personal
                    </div>
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        Informacion Licencia
                    </div>
                    <div class="card-body">
                        {{ form2.as_p }}
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-space btn-primary">Guardar</button>
        <a href="{% url 'chofer_listar' %}" class="btn btn-space btn-secondary">Cancelar</a>
    </form>
{% endblock %}
{% block extrascripts %}
{% endblock %}